.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1c1c;
    color: white;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .logout-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 14px;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s;
  }
  
  .logout-btn:hover {
    background-color: #e60000;
  }
  
  .nav-button {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    padding: 8px 14px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
    text-decoration: none;
  }
  
  .nav-button:hover {
    background-color: #388E3C;
  }
  